md-button(
  ng-click="updateList()"
) Update

long-list(
  list="list"
  title-selector="title"
  content-selector="content"
  picture-selector="picture"
  )

//md-list.long-list(ng-repeat="item in list")
  md-list-item
    md-item-content
      .md-tile-left
        img.face(
          ng-src="{{ item.picture }}"
        )
      .md-tile-content
        h4 {{ item.title }}
        p {{ item.content }}
