md-card
  md-subheader
    h1(translate="HOME_TITLE")
    p(translate="HOME_TEXT")

  div(
    layout="row"
    layout-align="space-around"
    layout-sm="column"
  )

    md-button(
      ui-sref="long-list"
      aria-label="Let's go to the long list"
    ) Let's go to the long list

    md-button.md-primary(
      href="https://github.com/atom-angular/styleguide"
      aria-label="Check the styleguide"
    ) Read the styleguide
